<div class="navigation-bar">
  <button class="material-symbols-outlined" id="home" onclick="displayContent('homepage')">
    home
  </button>
  <button class="material-symbols-outlined" id="employee" onclick="displayContent('employee')">
    group
  </button>
  <button class="material-symbols-outlined" id="titles" onclick="displayContent('titles')">
    work
  </button>
  <button class="material-symbols-outlined" id="address" onclick="displayContent('address')">
    location_on
  </button>
  <button class="material-symbols-outlined" id="profile" onclick="displayContent('profile')">
    person
  </button>
  <button class="material-symbols-outlined " id="logout" onclick="toggleButtons()">
    logout
  </button>
  <button class="material-symbols-outlined " id="login" style="display: none;" onclick="login()">
    login
  </button>
</div>
<div id="modal" style="display:none;">
  <div class="modal-content">
    <p>Do you want to log out?</p>
    <button onclick="logout()">Yes</button>
    <button onclick="closeModal()">No</button>
  </div>
</div>